@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f5f5f5;
}

h2 {
  font-size: 36px;
}

input, button {
  border-radius: 5px;
  border: 1px solid rgba(27, 38, 44, 0.2);
  font-size: 16px;
  background: #fff;
  color: #1B262C;
}

input:focus {
  outline: 1px solid #F0D9DA;
}

.head_bar {
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.1));
}

main {
  max-width: 960px;
  width: 100%;
  margin: 60px auto;
  padding: 16px;
}

.input_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  border-radius: 5px;
  margin-right: 60px;
}

.input_section h2 {
  text-align: center;
  color: #1B262C;
  margin-bottom: 30px;
}

.input_section form input {
  margin: 8px 0;
}

.input_section form button {
  background-color: #fff;
  color: #1B262C;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section form button span {
  font-weight: bold;
}

.input_section form .input label {
  color: #1B262C;
  font-weight: bold;
}

.input_section form .input input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.input_section form .input_inline {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_section form .input_inline label {
  color: #1B262C;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-radius: 5px;
}

.search_section h2 {
  color: #1B262C;
}

.search_section form {
  padding: 16px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 40px;
      grid-template-columns: auto 1fr 40px;
  grid-gap: 5px;
}

.search_section form label, .search_section form button {
  color: #1B262C;
}

.search_section form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.search_section form input, .search_section form button {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
}

.search_section form input {
  padding: 10px;
}

.search_section form button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #F0D9DA;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  padding: 16px;
  border-radius: 5px;
}

.book_shelf h2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  grid-gap: 10px;
  color: #1B262C;
}

.book_shelf .book_list {
  padding: 16px;
}

.book_shelf .book_list .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf .book_list .book_item h3, .book_shelf .book_list .book_item p {
  margin: 8px 0;
  color: #1B262C;
}

.book_shelf .book_list .book_item .action button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf .book_list .book_item .action .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf .book_list .book_item .action .red {
  background-color: darkred;
  color: white;
}
/*# sourceMappingURL=style.css.map */